body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f5f7;
    color: #2b2b2b;
    line-height: 1.6;
}


.container {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

/* BAŞLIK KISMI */
.header {
    background: linear-gradient(135deg, #003b73, #005bb5);
    color: white;
    padding: 50px 0;
    text-align: center;
    border-bottom: 4px solid #ffc400;
}

.header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.9;
}

/* KART TASARIMI */
.card {
    background: white;
    padding: 25px;
    margin: 25px 0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.07);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
}

.card h2 {
    margin-bottom: 15px;
    color: #003b73;
}

/* LİSTELER */
.card ul {
    padding-left: 20px;
}

.card li {
    margin-bottom: 8px;
}

/* ALT KISIM */
.footer {
    text-align: center;
    padding: 20px;
    background: #003b73;
    color: white;
    margin-top: 40px;
    font-size: 14px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.and-btn {
    background-color: #087ae4da;
    color: #fff;
    border: none;
}

.and-btn:hover {
    background-color: #095283;
}

.green-btn {
    background-color: #087ae4da;
    color: #fff;
    border: none;
}

.green-btn:hover {
    background-color: #095283;
}